body {
	padding: 10px 0 10px 0;
	background-color: #F8F8C6;
	font-family: Georgia, serif;
	color: #310B0B;
}

a {
	color: #B0261F;
	text-decoration: none; 
}

a:visited {
	color: #B0261F;
}

#header {
	min-width: 520px;
	margin: 0 auto 10px auto;
	padding: 10px 10%;
	overflow: auto;
	border-bottom: #B0261F 4px solid;
}

#header img {
	float: left;
	margin-right: 35px;
}

#header h1 {
	font-family: 'Playball', cursive;
	font-size: 5em;
	margin: 0;
	color: #B0261F;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#nav {
	background-color: #F8F8C6;
	margin-top: 10px;
}

#nav a {
	border-bottom: none;
	color: #B0261F;
}

#nav li {
	display: block;
	float: left;
	margin-right: 30px;
	height: 20px;
	padding: 10px 5px 5px 5px;
	background-color:;

	line-height: 20px;
}

#nav li:hover {
	line-height: 10px;
}

#body {
	padding: 10px 10%;
	min-width: 520px;
	overflow: auto;

	margin: auto;
}

#body .intro {
	text-align: center;
	font-size: 35px;
}

#body .games .game {
	float: left;
	margin-right: 50px;
	margin-bottom: 40px;
	text-align: center;
}

#body .framed-image {
  border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
}

#body .game-image {
	float: left;
	margin-right: 20px;
}

#body .carousel {
	padding: 15px 0 15px;
	position: relative;
	width: 830px;
	margin: auto;
}

#body .carousel img {
	margin: 7px;
	display: block;
	float: left;
}

/* Paginacija preuzeta s http://stackoverflow.com/questions/8559875/how-to-make-paginations-circle-of-slider-using-css-only */

.pagination {
  text-align: center;
}

.pagination a {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  text-indent: -10000px;
  background: #999;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: inset 1px 1px 1px rgba(0, 0 ,0, 0.4);
}

.pagination a.selected {
  background: #B0261F;
}​