body {
	padding: 10px 0 10px 0;
	/*background-color: #FFFFFF;*/
	background-image: url(http://i.imgur.com/IfqrR.png);
	font-family: Georgia, serif;
	color: #DC5B21;
}

a {
	color: #DC5B21;
	text-decoration: none; 
	border-bottom: 1px dotted;
}

a:visited {
	color: #DC5B21;
}

#header {
	min-width: 520px;
	margin: 0 auto 30px auto;
	padding: 10px 10%;
	overflow: auto;

	/*-webkit-box-shadow: 1px 0px 5px rgba(5, 26, 0, 1);
	-moz-box-shadow:    1px 0px 5px rgba(5, 26, 0, 1);
	box-shadow:         1px 0px 5px rgba(5, 26, 0, 1);*/
}

#header img {
	float: left;
	margin-right: 35px;
}

#header h1 {
	font-family: 'Playball', cursive;
	font-size: 5em;
	margin: 0;
	color: #009097;
}

#nav {
	background-color: #009097;
	margin-top: 10px;
}

#nav a {
	border-bottom: none;
	margin-right: 30px;
	color: #E6DDC1;
}

#body {
	/*background-color: #F8F8C6;*/
	background-image: url(http://i.imgur.com/IfqrR.png);
	padding: 10px 10%;
	min-width: 520px;
	overflow: auto;

	margin: auto;
}

#body .intro {
	text-align: center;
	font-size: 35px;
}

#body .games .game {
	float: left;
	margin-right: 50px;
	text-align: center;
}

#body .game-image {
	float: left;
}

#body .carousel {
	padding: 15px 0 15px 40px;
	position: relative;
}

#body .carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}